Source: mahimahi
Section: net
Priority: optional
Maintainer: Keith Winstein <keithw@mit.edu>
Build-Depends: debhelper (>= 7.0.50), autotools-dev, dh-autoreconf, iptables, protobuf-compiler, libprotobuf-dev, pkg-config, libssl-dev, dnsmasq-base, apache2, ssl-cert
Standards-Version: 3.9.4.0
Vcs-Git: git://github.com/ravinet/mahimahi.git
Vcs-Browser: https://github.com/ravinet/mahimahi

Package: mahimahi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iptables, dnsmasq-base, apache2
Description: Tools for network testing and emulation
 Mahimahi is a set of tools for measuring the performance of new
 Web protocols over emulated networks
