Source: mahimahi
Section: net
Priority: optional
Maintainer: Keith Winstein <keithw@mit.edu>
Homepage: http://mahimahi.mit.edu
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf, iptables, protobuf-compiler, libprotobuf-dev, pkg-config, libssl-dev, dnsmasq-base, apache2-bin, ssl-cert, libxcb-present-dev, libcairo2-dev, libpango1.0-dev, iproute2
Standards-Version: 3.9.6
Vcs-Git: git://github.com/keithw/mahimahi.git
Vcs-Browser: https://github.com/keithw/mahimahi

Package: mahimahi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iptables, dnsmasq-base, apache2-bin, gnuplot, iproute2
Description: Tools for network emulation and analysis
 Mahimahi is a suite of user-space tools for network emulation and analysis.
 .
 Each mahimahi tool spawns a lightweight container, generally connected
 to the outside via a synthetic network device that observes packets in
 transit or emulates a desired behavior.
 .
 The tools are composable so that a series of emulated network effects
 can be chained together, with mahimahi containers nested inside each
 other. Each tool takes an optional command to execute, so it is possible
 to create a series of nested containers with one command line.
